.cuadrado {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    /* background-color: yellow; */
}

.cuadrado.rojo {
    background: red;
}

.cuadrado.borde {
    border: 2px solid black;
}
